@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:ital,wght@1,500&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::selection {
    color: #dadada;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
}

#page {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page #nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px, 30px;
    z-index: 9;
    height: 10%;
    width: 100%;
    /* background-color: red; */
}

#nav #logo {
    font-size: 23px;
    font-weight: 500;
    margin-left: 100px;
}

#center-nav {
    display: flex;
    gap: 20px;
}

#center-nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-style: 18px;
}

#nav input {
    padding: 10px 5px;
    border-radius: 10px;
    margin-right: 60px;
    border: 1px solid black;
    text-transform: uppercase;
}

#page img {
    height: 500px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    right: 10%;
    top: 53%;
    transform: translateY(-50%);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

#text {
    padding: 30px 50px;
    position: relative;
    top: 20%;
    left: 8%;
    height: 75%;
    width: 40%;
    scale: 1.1;
    /* background-color: red; */
}

#text h1 {
    font-size: 43px;
    margin-top: 20px;
}

#text h4 {
    margin-top: 30px;
    color: #5b5858;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.6px;
}

#text h5 {
    color: #8873ef;
    transform: rotate(-30deg);
    position: absolute;
    left: 5%;
    font-size: 18px;
}

#buttton {
    position: absolute;
    left: 16%;
    bottom: 16%;
    height: 10%;
    width: 90%;
    /* background-color: green; */
}

#buttton button {
    padding: 10px 22px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
}

#buttton button i {
    font-size: 18px;
}

#buttton #b1 {
    background-color: #8873ef;
    margin-left: 30px;
}

#buttton #b2 {
    margin-left: 30px;
    cursor: pointer;
}

#b2 i {
    margin-left: 10px;
}

#b2 a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

.social-media {
    height: 10%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 3%;
    left: 6%;
}

.social {
    display: flex;
    align-items: center;
    gap: 40px;
}

.social i {
    font-size: 35px;
}

.social a {
    text-decoration: none;
    color: #000;
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fcda69;
}

#page1 #left {
    height: 90%;
    width: 35%;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: red; */
    position: absolute;
    right: 5%;
}

#left .box {
    height: 33.3%;
    width: 100%;
    border-top: 2px solid black;
    /* background-color: indigo; */
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box h1 {
    font-size: 40px;
    font-weight: 600;
}

.box h4 {
    font-size: 28px;
}

.circle {
    height: 3vw;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #8873ef;
}

.circle i {
    color: aliceblue;
    font-size: 25px;
}

#text1 {
    margin: 60px 60px;
    height: 30%;
    width: 50%;
    /* background-color: red; */
    position: absolute;
    z-index: 9;
}

#text1 h1 {
    font-size: 70px;
    margin-top: 20px;
    font-weight: 800;
}

#text1 p {
    letter-spacing: 1px;
    font-size: 17px;
    color: #2b2b2b;
    font-weight: 500;
    width: 70%;
    margin-top: 20px;
}

#text1 h5 {
    line-height: 50px;
    color: #8873ef;
    transform: rotate(-20deg);
    position: absolute;
    font-size: 18px;
    left: -4%;
}

#page1 img {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 10%;
}

#page2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #dadada;
}

#page2 #right2 {
    margin: 90px 80px;
    height: 30%;
    width: 30%;
    /* background-color: red; */
    position: absolute;
    z-index: 9;
}

#right2 h2 {
    font-size: 70px;
    margin-top: 20px;
    font-weight: 800;
    line-height: 1;
}

#right2 h1 {
    line-height: 5px;
    color: #8873ef;
    transform: rotate(-30deg);
    position: absolute;
    font-size: 20px;
    left: -6.5%;
}

.skills {
    height: 50vh;
    width: 40vw;
    /* background-color: red; */
    margin-top: 12%;
    margin-left: 5%;
    position: relative;
}

.tech {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tech:hover{
    font-size: 30px;
    
}
.skills h3{
    font-size: 25px;
}

.tech img {
    height: 40%;
    width: 50%;
    margin-bottom: 8px;
}

.skill-cont {
    height: 40vh;
    width: 40vw;
    margin-top: 10%;
    /* background-color: slategray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#page2 #left2 {
    height: 90%;
    width: 35%;
    top: 58%;
    transform: translateY(-50%);
    /* background-color: red; */
    position: absolute;
    right: 5%;
}

#left2 #box2 {
    height: 18.3%;
    width: 100%;
    border-top: 2px solid black;
    /* background-color: #8873ef; */
}

#left2 h1 {
    font-size: 50px;
    margin-bottom: 100px;
}

#box2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#box2 h2 {
    font-size: 30px;
    font-weight: 600;

}

#box2 h4 {
    font-size: 28px;
}

/* #box2 h3{
    
} */